@using HikeGroop.ViewModels
@model GroupDetailViewModel

@{
	ViewData["Title"] = "Group detail";
	Layout = "~/Views/Shared/_GroupDetail.cshtml";
}

<section>
	<div class="gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div id="page-contents" class="row merged20">
						<div class="col-lg-3">
							<aside class="sidebar static left">
								<div class="widget">
									<span><i class="icofont-globe"></i> Sponsored</span>
									<ul class="sponsors-ad">
										<li>
											<figure><img alt="" src="~/assets/images/resources/sponsor.jpg">
											</figure>
											<div class="sponsor-meta">
												<h5><a title="" href="#">IQ Options Broker</a></h5>
												<a target="_blank" title="" href="#">www.iqvie.com</a>
											</div>
										</li>
										<li>
											<figure><img alt="" src="~/assets/images/resources/sponsor2.jpg">
											</figure>
											<div class="sponsor-meta">
												<h5><a title="" href="#">BM Fashion Designer</a></h5>
												<a target="_blank" title="" href="#">www.abcd.com</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="widget">
									<h4 class="widget-title">Your Groups</h4>
									<ul class="ak-groups">
										<li>
											<figure><img alt="" src="~/assets/images/resources/your-group1.jpg">
											</figure>
											<div class="your-grp">
												<h5><a>Good Group</a></h5>
												<a title="" href="#"><i class="icofont-bell-alt"></i>Notifilactions
													<span>13</span></a>
												<a class="promote">view feed</a>
											</div>
										</li>
										<li>
											<figure><img alt="" src="~/assets/images/resources/your-group2.jpg">
											</figure>
											<div class="your-grp">
												<h5><a>E-course Group</a></h5>
												<a href="#"><i class="icofont-bell-alt"></i>Notifications
													<span>13</span></a>
												<a class="promote">view feed</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="widget">
									<h4 class="widget-title">Suggested Group</h4>
									<div class="sug-caro">
										<div class="friend-box">
											<figure>
												<img alt="" src="~/assets/images/resources/sidebar-info.jpg">
												<span>Members: 505K</span>
											</figure>
											<div class="frnd-meta">
												<img alt="" src="~/assets/images/resources/frnd-figure2.jpg">
												<div class="frnd-name">
													<a title="" href="#">Social Research</a>
													<span>biolabest</span>

												</div>
												<a class="main-btn2" href="#" title="">Join Community</a>
											</div>
										</div>
										<div class="friend-box">
											<figure>
												<img alt="" src="~/assets/images/resources/sidebar-info2.jpg">
												<span>Members: 505K</span>
											</figure>
											<div class="frnd-meta">
												<img alt="" src="~/assets/images/resources/frnd-figure3.jpg">
												<div class="frnd-name">
													<a title="" href="#">Bio Labest Group</a>
													<span>biolabest</span>

												</div>
												<a class="main-btn2" title="">Join Community</a>
											</div>
										</div>
									</div>
								</div>

							</aside>
						</div>
						<div class="col-lg-9">
							<div class="group-feed">
								<div class="group-avatar">
									<img src="@Model.Image" alt="image cover">

									<figure class="group-dp"><img src="@Model.Image" alt="avatar"></figure>
								</div>
								<div class="grp-info">
									<h4>@Model.Name <span>@Model.Name</span></h4>




									<ul>
										<li><span>Created:</span> April 2020</li>
										<li><span>Members:</span> 55K</li>
										<li><span>City:</span> @Model.Address.City</li>
										<li><span>Followers:</span> 2.2K</li>
										<li class="btn-group">

											@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
											{
												<span>
													<a class="button soft-info" asp-controller="Group" asp-action="Edit"
														asp-route-id="@Model.Id"
														class="btn btn-sm btn-outline-secondary">Edit
													</a>
												</span>
												<span>
													<a class="button soft-danger" asp-controller="Group" asp-action="Delete"
														asp-route-id="@Model.Id">Delete
													</a>
												</span>



											}
										</li>

									</ul>

								</div>
								<div class="main-wraper">
									<div class="grp-about">
										<div class="row">
											<div class="col-lg-8">
												<h4>Info</h4>
												<p>@Model.Description</p>
											</div>
											<div class="col-lg-4">
												<div class="share-article">
													<span>share this Group</span>
													<a href="#" title="" class="facebook"><i
															class="icofont-facebook"></i></a>
													<a href="#" title="" class="pinterest"><i
															class="icofont-pinterest"></i></a>
													<a href="#" title="" class="instagram"><i
															class="icofont-instagram"></i></a>
													<a href="#" title="" class="twitter"><i
															class="icofont-twitter"></i></a>
													<a href="#" title="" class="google"><i
															class="icofont-google-plus"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- content -->
