@using HikeGroop.Data
@using HikeGroop.ViewModels
@model GroupViewModel
@{
    ViewData["Title"] = "Groups";
	Layout = "~/Views/Shared/_Groups.cshtml";

}


<div class="theme-layout">

	<div class="responsive-header">
		<div class="logo res"><img src="~/assets/images/logo.png" alt=""><span>HikeGroop</span></div>
		<div class="user-avatar mobile">
			<a title="View Profile"><img alt="" src="~/assets/images/resources/user.jpg"></a>
			<div class="name">
				<h4>Danial Cardos</h4>
				<span>Ontario, Canada</span>
			</div>
		</div>
		<div class="right-compact">
			<div class="sidemenu">
				<i>
					<svg id="side-menu2" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
				</i>
			</div>
			<div class="res-search">
				<span>
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
				</span>
			</div>

		</div>
		<div class="restop-search">
			<span class="hide-search"><i class="icofont-close-circled"></i></span>
			<form method="post">
				<input type="text" placeholder="Search...">
			</form>
		</div>
	</div><!-- responsive header -->

	<header class="">
		<div class="topbar stick">
			<div class="logo"><img src="~/assets/images/logo.png" alt=""><span>HikeGroop</span></div>
			<div class="searches">
				<form method="post">
					<input type="text" placeholder="Search...">
					<button type="submit"><i class="icofont-search"></i></button>
					<span class="cancel-search"><i class="icofont-close"></i></span>
					<div class="recent-search">
						<h4 class="recent-searches">Your's Recent Search</h4>
						<ul class="so-history">
							<li>
								<div class="searched-user">
									<figure><img src="~/assets/images/resources/user1.jpg" alt=""></figure>
									<span>Danial Carabal</span>
								</div>
								<span class="trash"><i class="icofont-close-circled"></i></span>
							</li>
							
						</ul>
					</div>
				</form>
			</div>
			<ul class="web-elements">
				<li>
					<div class="user-dp">
						<a>
							
							<div class="name">
								<h4>@Model.AppUserName</h4>
							</div>
						</a>
					</div>
				</li>
				
				<li>
						<a href="#" title="">
							<i>
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
							</i>
						</a>
						<ul class="dropdown">
							<li><a href="@Url.Action("Index","Dashboard")" title=""><i class="icofont-user-alt-3"></i> Your Dashboard</a>
							</li>
							<li><a href="@Url.Action("Index","Group")" title=""><i class="icofont-people"></i> Groups</a>
							</li>
							<li><a href="@Url.Action("Index","Destination")" title=""><i class="icofont-hill"></i> Destination</a>
							</li>
							<li><a href="@Url.Action("Index","User")" title=""><i class="icofont-users-social"></i> Hikers</a>
							</li>
							<li><a class="dark-mod" href="#"><i class="icofont-moon"></i> Dark Mode</a></li>
							<li class="logout">
								<form asp-controller="Account" asp-action="Logout">
									<button class="main-btn2"><i class="icofont-power"></i> Logout</button>
								</form>
							</li>
						</ul>
				</li>
			
			</ul>
		</div>

	</header><!-- header -->

	<section>
		<div class="gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div id="page-contents" class="row merged20">
							<div class="col-lg-9">
								<div class="main-wraper">
									<h4 class="main-title"><i class=""><svg class="feather feather-users" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" /><circle r="4" cy="7" cx="9" /><path d="M23 21v-2a4 4 0 0 0-3-3.87" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /></svg></i> Groups</h4>
									<div class="row col-xs-6">

										@foreach(var item in Model.Groups)
										{
										<div class="col-lg-3 col-md-4 col-sm-4">
											<div class="group-box">
												<figure><img src="@item.Image"></figure>
												<a >@item.Name</a>
												<span>101 Members</span>

												<form 
													asp-controller="Group"
													asp-action="Detail"
													asp-route-id="@item.Id"
												>
													<button class="main-btn2" type="submit">join group</button>
												</form>
											</div>
										</div>

										}


									
									
									</div>

									@* Pagination *@
									<div class="col-lg-12">
										<div class="load mb-4">
											<ul class="pagination">
												<li><a title="" href="#"><i class="icofont-arrow-left"></i></a></li>
												<li><a title="" href="#" class="active">1</a></li>
												<li><a title="" href="#">2</a></li>
												<li><a title="" href="#">3</a></li>
												<li><a title="" href="#">4</a></li>
												<li><a title="" href="#">5</a></li>
												<li>....</li>
												<li><a title="" href="#">10</a></li>
												<li><a title="" href="#"><i class="icofont-arrow-right"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
	
							</div>
							<div class="col-lg-3">
								<aside class="sidebar static right">
									<div class="widget">
										<h4 class="widget-title">Hiking Activities</h4>
										<div class="popular-book">
											<figure><img src="~/assets/images/resources/hikecomm.jpg" alt=""></figure>
											<div class="book-about">
												<h6><a href="#" title="">Treasure Mountain</a></h6>
												<span>Richard Ali</span>
												<a href="#" title="Book Mark">
													<i class="">
														<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
													</i>
												</a>
											</div>
										</div>
									
										
									</div>
									
									
									
								</aside>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<figure class="bottom-mockup"><img src="~/assets/images/footer.png" alt=""></figure>
	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span> &copy; @DateTime.Now.Year HikeGroop</span>
				</div>
			</div>
		</div>
	</div><!-- bottombar -->



</div>

@* <div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach(var item in Model)
            {
             <div class="col">
                <div class="card shadow-sm">
                    <img src="@item.Image" alt="groups">
                    <div class="card-body">
                        <p class="card-text">@item.Name</p>                      
                        <div class="d-flex justify-content-between align-items-center">
                           
                            <div class="btn-group">
                                <a type="button" 
                                    asp-controller="Group"
                                    asp-action="Detail"
                                    asp-route-id="@item.Id"
                                    class="btn btn-sm btn-outline-secondary">
                                    View
                                </a>

                                    @if(User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))   
                                    {

                                        <a type="button"
                                            asp-controller="Group"
                                            asp-action="Edit"
                                            asp-route-id="@item.Id"
                                            class="btn btn-sm btn-outline-secondary">Edit
                                        </a>
                                        <a type="button"
                                            asp-controller="Group"
                                            asp-action="Delete"
                                            asp-route-id="@item.Id"
                                            class="btn btn-sm btn-outline-danger">Delete
                                        </a>
                                    }  
                            </div>
                            
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
                
            }
           
        </div>
    </div>
</div> *@