@using HikeGroop.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}





<section>
    <div class="gap overlap nogap mate-black low-opacity">
        <div class="bg-image" style="background-image: url(assets/images/hiking-home-2.jpg)"></div>
        <div class="feature-meta">
            <h1>Discover and Connect With Hikers Near You</h1>
            <h3>A community of hikers, find accountability and reach the top together</h3>
            <br />
            <a class="main-btn" asp-area="" asp-controller="Account" asp-action="Login">Get Started</a>
        </div>
    </div>
</section>


<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <figure class="side-image">
                        <img src="~/assets/images/hiking-group.png" alt="">
                    </figure>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="verticle-center">
                        <div class="measure right">
                            <i class="icofont-connection"></i>
                            <h2>Build or Connect with Hiking Community</h2>
                          

                            <p>
                                <a class="main-btn" asp-area="" asp-controller="Account" asp-action="Register">Join Now</a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="gap mate-black low-opacity">
        <div class="bg-image" style="background-image: url(assets/images/hiking-home.jpg)" data-velocity=".2"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="welcome-parallax">

                        <h2>Advance your hiking experience</h2>
                        <span>Join our community of hikers and enthusiasts.</span>
                        <a asp-area="" asp-controller="Account" asp-action="Register" class="main-btn" data-ripple="">Join Free Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- parallax section -->

<section>
    <div class="gap">
        <div class="container">
            @if (Model.Groups == null)
            {
                <div class="col-lg-12">
                    <div class="title">
                        <h1>
                            There are no hiking groups in your area!
                            <a asp-area="" asp-controller="Account"
                               asp-action="Login">Login</a> and create one!
                        </h1>
                    </div>
                </div>
            }
            else
            {
                <div class="row remove-ext30">
                    <div class="col-lg-12">
                        <div class="title">
                            <h3>Hiking Groups near @Model.City, @Model.Region</h3>
                            <p>Find groups and join the community here</p>
                        </div>
                    </div>

                    @foreach (var group in Model.Groups)
                    {

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog-grid">
                                <figure><img src="@group.Image" alt=""></figure>
                                <div class="blog-meta">
                                    <div class="blog-head">

                                        <ul class="postby">
                                            <li>
                                                <figure><img src="@group.Image" alt=""></figure>

                                            </li>
                                            <li><i class="icofont-heart"></i><span>1.3k</span></li>
                                        </ul>
                                        <h4 class="blog-title">
                                            <a asp-area=""
                                               asp-action="Group"
                                               asp-controller="Detail"
                                               asp-route-id="@group.Id">
                                                @group.Name
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            }
        </div>
    </div>
</section><!-- events -->
