<div class="responsive-header">
    <div class="logo res"><img src="~/assets/images/logo.png" alt=""><span>HikeGroop</span></div>

    <div class="right-compact">
        <div class="sidemenu">
            <i>
                <svg id="side-menu2" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-menu">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg></i>
        </div>
        <div class="res-search">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-search">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg></span>
        </div>

    </div>
    <div class="restop-search">
        <form method="get" asp-action="@ViewData["Action"]">
            <input type="text" placeholder="Search...">
            <span class="hide-search" asp-action="Index"><i class="icofont-close-circled"></i></span>
        </form>
    </div>
</div><!-- responsive header -->

<header class="">
    <div class="topbar stick">
        <div class="logo"><img src="~/assets/images/logo.png" alt=""><span>HikeGroop</span></div>
        <div class="searches">
            <form method="get" asp-action="@ViewData["Action"]">
                <input type="text" name="searchString" placeholder="Search... ">
                <button type="submit"><i class="icofont-search"></i></button>
                <span class="cancel-search" asp-action="Index"><i class="icofont-close"></i></span>
            </form>
        </div>
        <ul class="web-elements">
            Hello @User.Identity.Name
            <li>
                <a href="#" title="">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-grid">
                            <rect x="3" y="3" width="7" height="7"></rect>
                            <rect x="14" y="3" width="7" height="7"></rect>
                            <rect x="14" y="14" width="7" height="7"></rect>
                            <rect x="3" y="14" width="7" height="7"></rect>
                        </svg>
                    </i>
                </a>
                <ul class="dropdown">
                    <li><a href="@Url.Action("Index","Dashboard")" title=""><i class="icofont-user-alt-3"></i>
                            Dashboard</a>
                    </li>
                    <li><a href="@Url.Action("Index","Group")" title=""><i class="icofont-people"></i>
                            Groups</a>
                    </li>
                    <li><a href="@Url.Action("Index","Destination")" title=""><i class="icofont-hill"></i>
                            Destination</a>
                    </li>
                    <li><a href="@Url.Action("Index","User")" title=""><i class="icofont-users-social"></i>
                            Hikers</a>
                    </li>
                    <li><a class="dark-mod" href="#"><i class="icofont-moon"></i> Dark Mode</a></li>
                    <li class="logout">
                        <form asp-controller="Account" asp-action="Logout">
                            <button class="main-btn2"><i class="icofont-power"></i> Logout</button>
                        </form>
                    </li>
                </ul>
            </li>
            </li>
        </ul>
    </div>

</header><!-- header -->