@using Microsoft.AspNetCore.Identity
@using HikeGroop.ViewModels

@inject SignInManager<AppUser> SignInManager

@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<div class="container mt-3">

    <div class="col-lg-12">
        <div class="title">
            <h1>User Dashboard</h1>
            <p>You can see all your created groops and destinations here.</p>

        </div>
    </div>
</div>

<div class="row justify-content-center align-items-center">
    <a type="button" class="main-btn" asp-area="" asp-controller="Group" asp-action="Create">Create Group</a>
    <a type="button" class="main-btn" asp-area="" asp-controller="Destination" asp-action="Create">Create
        Destination</a>
    <a type="button" class="main-btn" asp-area="" asp-controller="Dashboard" asp-action="EditUserProfile">Edit
        User
        Profile</a>

</div>

<section>
    <div class="gap">
        <div class="container">
            <div class="row remove-ext30">
                <div class="col-lg-12">
                    <div class="title">
                        <h3>Groups</h3>
                    </div>
                </div>


                @foreach (var item in Model.Groups)
                {

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog-grid">
                            <figure><img src="@item.Image" alt="image photo"></figure>
                            <div class="blog-meta">
                                <div class="blog-head">
                                    <ul class="postby">
                                        <li>
                                            <figure><img src="@item.Image" alt="photo"></figure>
                                            <span>@User.Identity.Name</span>
                                        </li>
                                        <li><i class="icofont-heart"></i><span>1.3k</span></li>
                                        <div class="btn-group">
                                            <a type="btn btn-success" asp-controller="Group" asp-action="Detail"
                                                asp-route-id="@item?.Id" class="button soft-primary">View</a>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <a asp-controller="Group" asp-action="Edit" asp-route-id="@item?.Id"
                                                    class="button soft-success">Edit</a>
                                                <a asp-controller="Group" asp-action="Delete" asp-route-id="@item?.Id"
                                                    class="button soft-danger">Delete</a>
                                            }
                                        </div>

                                    </ul>

                                    <h4 class="blog-title"><a
                                            href="@Url.Action("Detail","Group", new{Id = item?.Id})">@item?.Name</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

<section>
    <div class="gap">
        <div class="container">
            <div class="row remove-ext30">
                <div class="col-lg-12">
                    <div class="title">
                        <h3>Destinations</h3>

                    </div>
                </div>
                @foreach (var item in Model.Destinations)
                {

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog-grid">
                            <figure><img src="@item.Image" alt="image photo"></figure>
                            <div class="blog-meta">
                                <div class="blog-head">
                                    <ul class="postby">
                                        <li>
                                            <figure><img src="@item.Image" alt="photo"></figure>
                                            <span>@item?.AppUser?.UserName</span>
                                        </li>
                                        <li><i class="icofont-heart"></i><span>1.5k</span></li>
                                        <div class="btn-group">
                                            <a type="btn btn-success" asp-controller="Destination" asp-action="Detail"
                                                asp-route-id="@item?.Id" class="button soft-primary">View</a>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <a asp-controller="Destination" asp-action="Edit" asp-route-id="@item?.Id"
                                                    class="button soft-info">Edit</a>
                                                <a asp-controller="Destination" asp-action="Delete" asp-route-id="@item?.Id"
                                                    class="button soft-danger">Delete</a>
                                            }
                                        </div>

                                    </ul>

                                    <h4 class="blog-title"><a
                                            href="@Url.Action("Detail","Destination", new{Id = item?.Id})">@item?.Title</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
